* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
html,
body {
  margin: 0;
}
#myButton{
color: white;
font-weight: bolder;
position: absolute; 
top: 20px; 
left: 20px;
}
.btn .btn-secondary{
    background: #DD4B1A!important;
}